{% extends 'base.html' %}

{% block main %}

        <div class="no-post">
        	<h1>About Me</h1>
            <br>
            <p>
            <br>
            <h3>Learning by Coding</h3>
            <br>
            <ui>
                <h4>简述</h4>
                <li>学校:天津理工大学</li>
                <li>专业:计算机科学与技术</li>
                <li>QQ:XXXXXXX</li>
            </ui>
            <br>
            <ui>
                <h4>相关链接</h4>
                <li><a href="https://github.com/fh555" >Github</a></li>
                <li><a href="http://hello-fh.com" >博客</a></li>
            </ui>

            </p>
            <br>
            <img src="http://oi0y9uzdy.bkt.clouddn.com/images/yourName/b12.png" width="550px">
        </div>


{% endblock main %}